<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action= '/destinations/<%=id%>?_method=PUT'>
Name: <input type= 'text' name='name' value=<%destinations.name%>/><br/>
Fly: <input type=type="checkbox" name="readyToEat"
                <% if(fruit.readyToEat === true){ %>
              checked
                <% } %> /><br/>
Image: <input type=''
</form>
</body>
</html>
