<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Destinations!</h1>
<ul> <%for (let i = 0; i < destinations.length; i++) { %>
        <%=destinations.name %>
  <%  } %>
 </ul>
</body>
</html>
